<ng-template #content let-modal>
  <div class="modal-header" style="background-color:#4285f4">
    <h4 class="modal-title" id="modal-basic-title" style="color: white">Create New User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding-right: 2rem;padding-left: 2rem; padding-bottom: 0; padding-top: 1rem">
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate style="padding-bottom:0">
        <div class="form-row mb-12">
          <h5 style="margin-bottom:1.5rem; color:darkgrey"> Personal Information </h5>
        </div>
        <div class="form-row mb-12">
          <div class="form-group col-md-4">
            <mat-form-field>
              <input matInput placeholder="First Name" name="first_name" [(ngModel)]="model.first_name" #first_name="ngModel" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field>
              <input matInput placeholder="Last Name" name="last_name" [(ngModel)]="model.last_name" #last_name="ngModel" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field>
              <mat-label> Birth Date </mat-label>
    	        <input matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" name="dob" [(ngModel)]="model.dob" #dob="ngModel" required>
    	        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    	        <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row mb-12">
          <h5 style="margin-bottom:1.5rem; margin-top:1.5rem; color:darkgrey"> Contact Information </h5>
        </div>
        <div class="form-row mb-12">
          <div class="form-group col-md-4">
            <mat-form-field>
              <input matInput placeholder="Street Number" name="address_number" [(ngModel)]="model.address_number" #address_number="ngModel" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field>
              <input matInput placeholder="Street Name" name="address_street" [(ngModel)]="model.address_street" #address_street="ngModel" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field>
              <input matInput placeholder="City" name="address_city" [(ngModel)]="model.address_city" #address_city="ngModel" required>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row mb-12">
          <div class="form-group col-md-4">
            <mat-form-field>
              <input matInput placeholder="Postal Code" name="address_postal_code" [(ngModel)]="model.address_postal_code" #address_postal_code="ngModel" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field>
              <input matInput placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field>
              <input matInput placeholder="Phone Number" name="phone_number" [(ngModel)]="model.phone_number" #phone_number="ngModel" required>
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="form-row mb-12">
          <h5 style="margin-bottom:1.5rem; margin-top:1.5rem; color:darkgrey"> Contact Information </h5>
        </div>
        <div class="form-row mb-12">
          <div class="form-group col-md-6">
            <mat-form-field>
              <input matInput placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field>
              <input matInput placeholder="Phone Number" name="phone_number" [(ngModel)]="model.phone_number" #phone_number="ngModel" required>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row mb-12">
          <h5 style="margin-bottom:1.5rem; margin-top:1.5rem; color:darkgrey"> Address </h5>
        </div>
        <div class="form-row mb-12">
          <div class="form-group col-md-6">
            <mat-form-field>
              <input matInput placeholder="Street Number" name="address_number" [(ngModel)]="model.address_number" #address_number="ngModel" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field>
              <input matInput placeholder="Street Name" name="address_street" [(ngModel)]="model.address_street" #address_street="ngModel" required>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row mb-12">
          <div class="form-group col-md-6">
            <mat-form-field>
              <input matInput placeholder="City" name="address_city" [(ngModel)]="model.address_city" #address_city="ngModel" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field>
              <input matInput placeholder="Postal Code" name="address_postal_code" [(ngModel)]="model.address_postal_code" #address_postal_code="ngModel" required>
            </mat-form-field>
          </div>
        </div> -->
      </form>
  </div>
  <div class="footer" style="padding-bottom:2.5rem; text-align:center">
      <button type="button" class="btn btn-xl btn-outline-primary" (click)="onSubmit()">Create User</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Create New User</button>
