<header class="header">
	<h2 class="header-text"> Santropol Roulant Staffend</h2>
</header>
<div class="container-page">
	<div style="text-align:center">
		<img width="250" alt="Santropol Logo" src="../assets/santropol-roulant.jpg">
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<h3 class="actions-title">Here are some actions you can do: </h3>
			</div>
		</div>
		<div class="row">
		  <div class="col-4"><app-new-user></app-new-user></div>
		  <div class="col-4"></div>
		  <div class="col-4">
			</div>
		</div>


		<p></p><p></p>
		<p>
		<button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
						[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
			View Volunteers:
		</button>
	</p>
	<div id="collapseExample" [ngbCollapse]="isCollapsed">
		<div class="card">
			<div class="card-body">
				Volunteer List:
					<app-user-list></app-user-list>
			</div>
		</div>
	</div>
	</div>
	
</div>
