::ng-deep .my-class .modal-dialog {
     max-width: 40%;
     width: 40%;
}

.modal-header{
  background-color: #dc3545;
  color: white;
}

.modal-body{
  padding: 1rem 2rem 0 2rem;
}

.form{
  padding-bottom: 0;
}

.form-section{
  margin-bottom: 1.5rem;
  color: darkgrey;
  margin-top: 1.5rem;
}


.footer{
  padding-bottom: 2.5rem;
  text-align: center;
}
