<div class="head">
<mat-form-field class="search-volunteer">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<button style="padding:0; margin-right:2%;" type="button" class="btn btn-success"><app-new-user></app-new-user></button>
</div>

<p></p>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{prettify(column)}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          <div>
          <p><strong>Volunteer's adress: </strong></p>
          <p> {{element.address_number}}, {{element.address_street}}, <br />
             {{element.address_city}}, <br /> {{element.address_postal_code}}
          </p>
          </div>
          <div style="margin-left: 40px;">
          <p><strong>User ID:</strong> {{element.id}}</p>
          <p><strong>Date of Birth:</strong> {{element.dob}} </p>
          <p><strong>Signup Date:</strong> {{element.signup_date}}</p>
          <p></p>
          </div>
          <div style="margin-left: 40px;">
            <p *ngIf="element.no_show == 0" ><strong>Volunteer no-show count: </strong><span style="color: green">{{element.no_show}} </span></p>
            <p *ngIf="element.no_show > 0" ><strong>Volunteer no-show count: </strong><span style="color: green">{{element.no_show}} </span></p>

            <button type="button" class="btn btn-outline-danger" (click)="deleteUser(volunteer.id)">Delete this volunteer?</button>
            <!-- Need to implement the deleteUser() method in the ts file -->
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
