<html lang="en-US" ng-app="basicApp">
  <p></p>
<div class="col-md-12">
<div id="target">
<label for="typeahead-focus">Search for a volunteer:</label>
<input
  id="typeahead-focus"
  type="text"
  class="form-control"
  [(ngModel)]="model"
  [ngbTypeahead]="search"
  (focus)="focus$.next($event.target.value)"
  (click)="click$.next($event.target.value)"
  #instance="ngbTypeahead"
/>
<p></p>
<button type="button" class="btn btn-primary" (click)= "displayUser()">Search</button>
<p></p>
<div class="alert alert-danger" role="alert" *ngIf="error">
  {{errorMessage}}
</div>

<div>

<div class="card bg-light mb-3" *ngIf="flag">
    <div class="card-body" >
    <div class = "row">

    <div class = "col-md-6">
      <h2>{{volunteer.first_name}} {{volunteer.last_name}}</h2>
    <p></p>
    <p>User ID: {{volunteer.id}} </p>
    <p>Date of Birth: {{volunteer.dob}} </p>
    <p>Signup Date: {{volunteer.signup_date}}</p>
    <p></p>
    <p></p>
    No show count: {{volunteer.no_show}}
    <p></p>
    <div class = "row">
      <div class = "col-md-3">
    <button (click)="updateNoShow(volunteer.id, volunteer.no_show+1); this.names = []; this.pairs = []" type="button" class="btn btn-outline-success">Increase Count</button>
    </div>
    <div class = col-md-3>
    <button (click)="updateNoShow(volunteer.id, volunteer.no_show-1); this.names = []; this.pairs = []" type="button" class="btn btn-outline-warning">Decrease Count</button>
  </div>
  </div>
  <p></p>
  <p>
    <button type="button" class="btn btn-outline-primary" (click)="registerVolunteer = !registerVolunteer"
            [attr.aria-expanded]="registerVolunteer" aria-controls="volunteerRegistration">
      Register Volunteer
    </button>
  </p>
  <div id="volunteerRegistration" [ngbCollapse]="!registerVolunteer">
    <div class="card">
      <div class="card-body">
        <ngb-datepicker #dp [(ngModel)]="modelDate" (navigate)="date = $event.next"  ></ngb-datepicker>
      </div>
    </div>
  </div>
</div>
    <div class = "col-md-6">
    <h2>Contact Information:</h2>
    <p></p>
    <p>Email: {{volunteer.email}}</p>
    <p>Phone number: {{volunteer.phone_number}}</p>
    <p>Home Address: {{volunteer.address_number}} {{volunteer.address_street}}, {{volunteer.address_city}} {{volunteer.address_postal_code}}</p>
    <p></p>
    <button type="button" class="btn btn-outline-danger" (click)="deleteUser(volunteer.id)">Delete this volunteer?</button>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>




<div>
  <p></p>
  <p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"  aria-controls="collapseExample" >
    Volunteer List
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="isCollapsed" >
  <div class="card">
    <div class="card-body">


      <p *ngFor="let user of (volunteers | async)">
        <a href="#" onClick="return false;" (click)="updateUser(user.first_name, user.last_name, user.email); scroll('target')">
      {{user.first_name}} {{user.last_name}}
    </a>
      </p>



    </div>
  </div>
</div>
</div>
</div>
