<html lang="en-US" ng-app="basicApp">
  <p></p>
<div class="col-md-12">
<div id="target">
<label for="typeahead-focus">Search for a volunteer:</label>
<input
  id="typeahead-focus"
  type="text"
  class="form-control"
  [(ngModel)]="model"
  [ngbTypeahead]="search"
  (focus)="focus$.next($event.target.value)"
  (click)="click$.next($event.target.value)"
  #instance="ngbTypeahead"
/>
<p></p>
<button type="button" class="btn btn-primary" (click)= "displayUser()">Search</button>
<p></p>
<div class="alert alert-danger" role="alert" *ngIf="error">
  {{errorMessage}}
</div>

<div>

<div class="card bg-light mb-3" *ngIf="flag">
    <div class="card-body" >
    <div class = "row">
    <div class = "col-md-6">
      <h2>Additional Information:</h2>
    <p>{{volunteer.first_name}} {{volunteer.last_name}}</p>
    <p>User ID: {{volunteer.id}}</p>
    <p>Date of Birth: {{volunteer.dob}} </p>
    <p>Signup Date: {{volunteer.signup_date}}</p>
    <p></p>
    <p></p>
    <div class="row">
    <div class = "col-4">
  No show count: {{volunteer.no_show}}
</div>
<div class = "col-1" >
  <i class="fa fa-plus"  (click)="updateNoShow(volunteer.id, volunteer.no_show+1); this.names = []; this.pairs = []"></i>
</div>
<div class = "col-1">
  <i class="fa fa-minus"  (click)="updateNoShow(volunteer.id, volunteer.no_show-1); this.names = []; this.pairs = []"></i>
</div>
</div>
    <p></p>
    <div class = "row">
  </div>
  <p></p>
  <p>
    <button type="button" class="btn btn-outline-primary" (click)="registerVolunteer = !registerVolunteer"
            [attr.aria-expanded]="registerVolunteer" aria-controls="volunteerRegistration">
      Register Volunteer
    </button>
  </p>
  <div id="volunteerRegistration" [ngbCollapse]="!registerVolunteer">
    <app-add-user-to-event></app-add-user-to-event>
  </div>
</div>
    <div class = "col-md-5">
    <h2>Contact Information:</h2>
    <p></p>
    <p>Email: {{volunteer.email}}</p>
    <p>Phone number: {{volunteer.phone_number}}</p>
    <p>Home Address: {{volunteer.address_number}} {{volunteer.address_street}}, {{volunteer.address_city}} {{volunteer.address_postal_code}}</p>
    <p></p>
    <button type="button" class="btn btn-outline-danger" (click)="deleteUser(volunteer.id)">Delete this volunteer?</button>
  </div>
  <div class = "col-md-1">
  <i class="fa fa-times-circle" (click)="flag=false;"></i>
</div>
  </div>

<!-- lists  -->

<table class="table" *ngIf="currentEventsUser.length != 0 || pastEventsUser.length != 0">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Remove?</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of currentEventsUser">
      <th scope="row"><i class="fa fa-times-circle" (click)="removeUserFromEvent(event.event_id, event.first_name, event.last_name)" style="align-self:  center"></i></th>
        <th>{{event.event_date_txt}}</th>
      <td>{{event.event_type}}</td>
      <td>{{event.event_time_start}}</td>
      <td>{{event.event_time_end}}</td>
    </tr>
  </tbody>
  <thead>
</thead>
<tbody>
  <tr *ngFor="let event of pastEventsUser">
    <th scope="row"></th>
    <th>{{event.event_date_txt}}</th>
    <td>{{event.event_type}}</td>
    <td>{{event.event_time_start}}</td>
    <td>{{event.event_time_end}}</td>
  </tr>
</tbody>
</table>




  </div>
  </div>
  </div>



<div class="container-fluid">
<div class="row" style="padding-bottom:2rem">
  <div class="col-md-4" *ngFor="let user of (volunteers | async)" style="padding-bottom:2rem">
  <div class="card">
      <div class="card-header text-white" style="background-color: #449afe;">
        <a href="" onClick="return false;" (click)="updateUser(user.first_name, user.last_name, user.email); scroll('target')" style ="color: white;" >
      {{user.first_name}} {{user.last_name}}
      </a>
      </div>
      <div class="card-body">
        <div class="row">
          Email: {{user.email}}
      </div>
      <div >
      </div>
      </div>
      <div class="card-footer" style="text-align:center">

      </div>
  </div>
</div>
</div>
</div>



</div>


</div>
